



header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(78, 79, 83, 0.5), rgba(0, 0, 0, 0.8)),
    url('http://getwallpapers.com/wallpaper/full/e/d/e/194132.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Catamaran', sans-serif;
}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .logo {
    flex-grow: 7;
    padding-left: 60px;
}

.navbar .logo img{
    height: 60px;
    width: 60px;
}

.navbar .navlink, .navicon {
    flex-grow:1;
    color: white;
}


.navbar .navlink a{
    color: white;
    text-decoration: none;
}

.word-intro h1{
    font-size: 6rem;
    top: 25%;
    left: 15%;
    position: absolute;
    text-transform: uppercase;
}

.word-intro h1 .word1{
    font-size: 6rem;
    color: white;
    text-transform: uppercase;
}

/* .word-intro {
    height: 500px;
    width: 800px;
    left: 21%;
    background: rgba(114, 112, 112, .3);
    position: absolute;
    display: grid;
} */

